
@font-face{
    font-family:'EBGaramond';
    src:url('EBGaramond-Regular.ttf');
}
@font-face{
    font-family:'Hack';
    src:url('Hack_regular_none.ttf');
}
@font-face{
    font-family:'CMF';
    src:url('CMFI10.ttf');
}

body{
    font-family:'Hack';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    /* background:#d8d8d8; */
    font-size: 9.5pt;
    line-height: 13.5pt;
    overflow: scroll;
}

a{
   cursor: pointer;
}

.page{
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   position: absolute;
   /* overflow: hidden; */
}

.contenu{
    height: auto;
    width: 100%;
    margin-top: 0px;
    /* position: absolute; */
}

.date{
    letter-spacing:2px;
}

header span {
   z-index: 100;
  color: grey;
   background: white;
}

header{
   text-align: left;
   margin-left: 0%;
   width: 80%;
   column-gap: 190px;
   padding: 0px 4px;
}

.colMeta{
   margin-left: 0%;
   width: 25%;
   height: 100%;
   color: black;
   float: left;
   text-align: right;
}

.colMeta span:nth-of-type(1){
   /* border-top: 1px solid  darkblue; */
   /* border-left: 1px solid  darkblue; */
   color: darkblue;
   margin-left: 0px;
   background: #fffe91;
   padding: 0px 20px;
}
.colMeta span:nth-of-type(2){
   color: #ea7d04;
   width:100px;
   /* background: white; */
   text-align: right;
   margin-bottom: 13pt;
}
.colMeta span:nth-of-type(3){
   color: darkgreen;
   width: 70px;
   /* position: absolute; */
   left: 40px;
}

header .btn-projet{
    text-decoration:none;
    bottom:20px;
    color: #0062ff;
    width: 100%;
}

header a:nth-of-type(1) span{
   color: green;
   width: 12.5%;
   margin-top: -1pt;
   position: absolute;
   padding-top: 1pt;
   /* padding: 0px 0px; */
   display: none;
}

header a:nth-of-type(1):hover span{
   display: block;
}

header .btn-projet:hover {
   background: #fffe91;   
}

code{
    color:darkgreen;
    border: 1px solid;
}

h1{
   font-weight: 100;
}

.note{
   cursor: pointer;
}

.onSpan{
   background: #fffe91;
}

.colShowcase{
   width: 55%;
   /* bottom: 13.5pt; */
   height: auto;
   /* max-height:calc(100% - 27pt); */
   float: left;
}

.colShowcase img{
    max-width: calc(100% - 27pt);
    margin: 13.5pt;
    cursor: e-resize;
}


.colShowcase .slideroff{
   width: 100%;
   height:auto;
}

.colLog{
   width: 100%;
   height: 100%;
   left: 0px;
   float: left;
   color: purple;
   text-align: center;
   /* display: none; */
   /* overflow-y: scroll;  */
}

.colLog img{
   width: 98%;
   height: auto;
   filter: alpha(opacity=20); 
   filter: grayscale(100%); /* Current draft standard */
   -webkit-filter: grayscale(100%); /* New WebKit */
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%); 
   -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
   filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}
.colLog .Note{
   padding: 0px 10%;
   /* opacity: 0.2; */
}

.colLog .Note:hover{
   /* background: #8ef5bf; */
   color: blue;
   opacity: 1;
   outline: 13.5 solid #8ef5bf;
   filter: alpha(opacity=50); 
   filter: grayscale(0%); /* Current draft standard */
   -webkit-filter: grayscale(0%); /* New WebKit */
   -moz-filter: grayscale(0%);
   -ms-filter: grayscale(0%); 
   -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */ 
   filter: gray; /* IE */
    -webkit-filter: grayscale(0); /* Old WebKit */
}


.colLog .title{
   text-align: center;

   background: white;
   box-shadow: 20px 0px 15px white;
}
.colLog .logNotes{
   margin-top: 0px;
}

.zoomLog{
   width: calc(70% - 13.5pt);
   height: 100%;
   right: 13.5pt;
   position: fixed;
   top:0px;
   z-index: 100;
   text-align: center;
}

.zoomLog div{
   color: blue;
   background: #8ef5bf;
   width: 10%;
   display: none;
   float:left;
}

.ZoomLog img{
   float:left;
   margin-right:0%;
   max-height:calc(100% - 27pt);
   bottom: 17pt;
   max-width: 96%;
   box-shadow: 5px 5px 10px rgba(0,0,0,.5);
   /* outline: 13.5pt solid #8ef5bf; */
}
header .menu{
   float:left;
   width: 80%;
}
.thumbnail{
   right:0px;
   top: 0px;
   width: 20%;
   height: 100px;
   display: none;
}

.cont_links ul{
  margin-top: 0pt;
  margin-left: 2pt;
  width: 80%;
  /* background:red; */
}
.cont_links li{
  margin: 0;
  padding: 0px 4px;
  padding-bottom:13.5pt -1px;
  list-style-type : none;
  cursor: pointer;
}
.cont_links li .toggleInfos{
   background: #c7c7c7;
   width: 50%;
   right: 13.5pt;
   margin-top: -1pt;
   position: absolute;
   padding-top: 1pt;
   /* padding: 0px 0px; */
   display: none;
   color: grey;
}
.cont_links li:hover .toggleInfos{
  display: block;
}
.cont_links li:nth-of-type(odd) a{
  color: green;
}
.cont_links li:nth-of-type(even) a {
  color: rgb(185, 95, 48);
}
.cont_links li:nth-of-type(even){
  background: #F3F3F3;
}

a{
  text-decoration: none;
  color: none;
}

/* GIT STYLE */

.tree-content-holder{
/* color: red; */
font-size: 9.5pt;
line-height: 13.5pt;
}


tr{
  padding: 0 4px;
}
/* .range-list:nth-of-type(odd){ */
/*   background: -moz-linear-gradient(left,  rgba(214,214,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */ */
/*   background: -webkit-linear-gradient(left,  rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */ */
/*   background: linear-gradient(to right,  rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ */
/*   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#00ffffff',GradientType=1  ); /* IE6-9 */ */
/*  */
/*  */
/* } */
/* .range-list:nth-of-type(even){ */
/* } */
table a{
  width: 100%;
/*  color: purple; */
}
.repo_list .folder{
  color: darkblue;
  background: -moz-linear-gradient(left,  rgba(255,76,76,0.6) 0%, rgba(255,79,79,0.6) 1%, rgba(255,252,252,0) 51%, rgba(255,255,255,0) 52%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,76,76,0.6) 0%,rgba(255,79,79,0.6) 1%,rgba(255,252,252,0) 51%,rgba(255,255,255,0) 52%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,76,76,0.6) 0%,rgba(255,79,79,0.6) 1%,rgba(255,252,252,0) 51%,rgba(255,255,255,0) 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff4c4c', endColorstr='#00ffffff',GradientType=1  ); /* IE6-9 */
}

.ranger_list .range_list .folder{
  color: green;
}

.file{
  color: #31319c;
}
.cont_under_folder{
  margin-left: 13.5pt;
}

h1, h2, h3, h4, h5, tr, th, strong, p{
  vertical-align: none !important;
font-size: 9.5pt !important;
font-style: normal;
font-weight: normal !important;
margin: 0px;
}

.repo_list{
  padding: 0 4px;
  width:30%;
  float: left;
}
.repo_viewer{
  width:50%;
  float: left;
}

.repo_viewer img{
  max-width: 80%;
}

.ttf, .otf, .pfa, .woff, .eot{
  color: orange;
}
	
.jpg, .jpeg, .gif, .svg, .png{
  color: purple;
}

.py{
  color: green;
}

.html, .php, .js{
  color: grey;
}
.sh{
  color: brown;
}
